<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="OpenGlobe.GermanySVMX.TestCases">
	      <methods>
	      
	      <include name= "PSSFRCFNAC01" />
	      
	      <!-- 	<include name= "GERSMCont0101" /> -->
	      	
	      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
